@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-light-pro.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-regular-pro.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-medium-pro.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-bold-pro.woff2");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  @apply text-white;
}
