@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-light-pro.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-regular-pro.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-medium-pro.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/apercu-bold-pro.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/NeueMontreal-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Fuji";
  src: url("../assets/fonts/Fuji-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fuji";
  src: url("../assets/fonts/Fuji-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fuji";
  src: url("../assets/fonts/Fuji-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fuji";
  src: url("../assets/fonts/Fuji-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html,
  body {
    @apply z-0 scroll-smooth bg-mainBlue text-white;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  body::-webkit-scrollbar {
    @apply w-3 bg-transparent;
  }
  body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    @apply bg-transparent;
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-mainYellow hover:scale-110;
  }
}
